<div class="container bikes-page">
	<div class="bike-question">
		<h1>Choose what type of bike you would love to ride</h1>
	</div>
	<div class="container bike-selection">
		<div class="bikes-pics hvr-grow under-sep col-xs-12 col-md-4"><h2>RoadBike</h2><%= image_tag('roadbike.jpg') %>
		</div>
		<div class="bikes-pics hvr-grow under-sep col-xs-12 col-md-4"><h2>Mountainbike</h2><%= image_tag('mountainbike.jpg') %></div>
		<div class="bikes-pics hvr-grow col-xs-12 col-md-4"><h2>Hybridbike</h2><%= image_tag('hybridbike.jpg') %>
		</div>
	</div>
</div>