
<p>Welcome! The date and time is <%= Time.now %></p>

<h1>Welcome to Bike Wien</h1>
<h2>Your source for new and used bikes in Wien</h2>

<%= image_tag("roadrace.jpg", class: "img-responsive") %>

<div class="lorem-ipsum"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac purus rhoncus dolor placerat interdum sit amet eu erat. Nullam ullamcorper justo quis scelerisque efficitur. Sed iaculis tristique dui sagittis commodo. Cras ullamcorper sit amet sapien id consequat. Aenean in sollicitudin tellus. Vestibulum eget risus eget sem sollicitudin condimentum. Duis cursus id nibh non tincidunt. Donec rhoncus suscipit rhoncus. In sollicitudin mattis leo ac consequat. Nunc pretium ac turpis consectetur aliquam.<br>

Pellentesque ornare dolor nunc. Aenean elementum ornare consectetur. Curabitur sagittis finibus lorem, et viverra ante ultricies id. Morbi cursus nulla at quam ullamcorper malesuada. Aliquam quis vehicula nulla. In hac habitasse platea dictumst. Phasellus id tellus id quam commodo scelerisque et id orci. Fusce ac eleifend diam. Vivamus imperdiet finibus posuere.<br>

Pellentesque dictum finibus dui eget facilisis. Nulla vitae eros lectus. Morbi blandit sit amet turpis ut vehicula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam varius suscipit lorem non tincidunt. Pellentesque in interdum ante. Suspendisse mollis nisi nec lectus dapibus finibus. Nullam auctor id nulla sit amet feugiat. Maecenas vitae metus sit amet urna sollicitudin mattis eu ac arcu. Integer sit amet felis maximus, mollis mauris ut, lacinia tortor. Nam sagittis nec odio eu dignissim. Praesent rutrum neque metus, ut elementum felis efficitur sit amet. Praesent sit amet metus sodales, vestibulum odio sit amet, ultricies libero. Mauris suscipit tortor vitae felis vestibulum, a rutrum odio varius. Nunc tempus vehicula ultrices.</p></div>