<div class="container index-page">
	<div class="container welcome-box">
		<h1>Welcome to BikeWien</h1>
		<h3>Your source for new and used bikes in Vienna</h3>
	</div>

	<div class="container welcome-box">
		<h1 class="hvr-bounce-in"><%= link_to 'ENTER', static_pages_bikes_path %></h1>
		<h3 id="after-text">to the webstore</h3>
		
	
	</div>
</div>

