<div class="panel panel-default">
  <div class="panel-body">
    <p>Thank you. We have received your message and will respond as soon as possible.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->

<div class="container">
	<button type="button" class="btn btn-default back-button"><span class="glyphicon glyphicon-circle-arrow-left"><%= link_to 'BACK', static_pages_contact_path %></span></button>
</div>