<table>
  <tbody>
    <tr>
      <td><p>You have received a new contact form message. The contents of the message are:</p></td>
    </tr>
    <tr>
    	<td><p>Name:<%= @name %></p></td>
      <td><p>Email:<%= @email %></p></td>
      <td><p>Message:<%= @message %></p></td>
    </tr>
  </tbody>
</table>