// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-pic {
	max-height: 300px;
}

.product-unit {
	margin: 50px 0;
}

.product-title {
	width: 100%;
	margin: 30px auto 5px auto;
	text-align: center;
}

.product-title h2 {
	width: 50%;
	margin: 10px auto;
	padding-bottom: 10px;
	border-bottom: 1px solid grey;
}

.product-describe {
	background-color: #d9ffb3;
	padding: 1px;
	margin-left: 10px;
}

.product-describe h3 {
	padding-left: 5px;
}

.form-space {
	margin-top: 50px;
}

.new-prod {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid black;
}

.new-prod p {
	margin-top: 5px;
	border-bottom: 1px solid grey;
}



.hvr-grow a {
	text-decoration: none;
}

.hvr-grow a:hover {
	color: green;
}

.back-path {
	text-align: center;
}

.comment-box {
	border: 1px solid black;
	margin-top: 20px;
	margin-bottom: 50px;
}