

h1 {
	color: red;
}

body {
	margin-top: 50px;
	margin-bottom: 60px;
}

html {
  position: relative;
  min-height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #101010;
  color: #9d9d9d;
}


/*NAVBAR start*/

@media (max-width: 768px) {
	.home-disapp {
		display: none;
	}
}

nav a {
	font-size: 1.3em;
}

#brand-color {
	color: white;
}


/*INDEX page start*/

