
body {
	margin-top: 50px;
	margin-bottom: 60px;
}

html {
  position: relative;
  min-height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #101010;
  color: #9d9d9d;
}


/*NAVBAR start*/

@media (max-width: 768px) {
	.home-disapp {
		display: none;
	}
}

nav a {
	font-size: 1.3em;
}

#brand-color {
	color: white;
}


/*INDEX page start*/

.index-page {
	padding-top: 5%;
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: image-url('backpic3.jpg');
	background-size: cover;
}

.welcome-pic {
	width: 50%;
	display: block;
	padding-top: 30px;
	margin: 0 auto;
}

.welcome-box {
	width: 70%;
	margin: auto;
	text-align: center;
}

#enter-box {
	text-align: center;
}

.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
 
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.hvr-bounce-in a {
	 text-decoration: none;
	 color: green;
}

#after-text {
	text-align: center;
	margin: 0;
}

/*BIKES page*/

.bikes-pics img {
	max-width: 80%;
}

.bikes-page, .bike-selection {
	padding-top: 5%;
}

.bike-question {
	text-align: center;
	border-bottom: 4px solid darkgreen;
	border-radius: 20%;
	padding-bottom: 20px;
}

@media (max-width: 1023px) {
	.under-sep {
	border-bottom: 2px solid darkgreen;
	padding-bottom: 10px;
}
}

/* Grow */

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/*CONTACT page*/

#success_message{
	display: none;
}

.well {
	background-color: #d9ffb3;
}

.reg-address {
	display: block;
	width: 100%;
	margin: 3px auto;
	margin-top: 53px;
	background-color: #d9ffb3;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
}

.reg-address > p:first-child {
	text-decoration: underline;
	font-size: 1.4em;
}