// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signin-center {
	max-width: 330px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 15px;
}

.checkbox input[type=checkbox] {
	position: absolute;
}

.field.form-group {
	margin: 0;
	padding: 0;
}

.checkbox label {
	margin: 10px 0;	
}

.field.form-group .form-control {
	height: 45px;
}

.space-bottom {
	margin-bottom: 10px;
}

.form-control:focus {
  border-color: green;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 128, 0, 0.6);
}