<div class="container product-title col-xs-6"><h2>Products</h2></div>
	<% if signed_in? && current_user.admin? %>
		<div class="container new-prod col-xs-6">
			<p class="hvr-grow"><%= link_to 'Create New Product', new_product_path %></p>
	<% end %>
</div>

<div class="row">
  <div class="container">

    <% @products.each do |product| %>
      <%= render partial: "product", locals: {product:product} %>
    <% end %>
  </div> <!-- end container -->
</div> <!-- end row -->



<br>


