 <%= render partial: "product", locals: {product:@product} %>


<div class="container col-md-6 comment-box">
	<div class="container new-prod">
		<h3>Reviews</h3>
	</div>
	<div class="container">
		<p>Comment 1</p>
	</div>
	<div class="container">
		<p>Comment 2</p>
	</div>
	<div class="container">
		<p>Comment 3</p>
	</div>
</div>